<h1>お友だちつながり投稿一覧</h1>

<table>
  <tr>
    <th>画像</th>
    <th>内容</th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.image %></td>
    <td><%= picture.content %></td>
    <td><%= link_to '詳細を確認する', picture_path(picture.id) %></td>
    <td><%= link_to "投稿を編集する", edit_picture_path(picture.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '投稿を削除する', picture_path(picture.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>


<%= link_to '新しく投稿をする', new_picture_path %>
